@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Roboto:wght@700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #000e4d; /* Dark Blue */
  --secondary: #72d8f7; /* Cyan Blue */
  --white-primary: #021048; /* Header color when white background */
  --white-text: #0a1641; /* Text color when white background */
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Open Sans', sans-serif;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

/* Modern scrollbar styling */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--primary) var(--secondary);
}

/* For WebKit browsers (Chrome, Safari) */
*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background-color: var(--secondary);
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--primary);
  border-radius: 10px;
  border: 2px solid var(--secondary);
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #003580; /* Slightly darker shade for hover effect */
}
